body .is-layout-flex > * {
    margin: 0 auto;
}

main {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    margin: 0 auto; /* Centra orizzontalmente */
    
}

.wp-block-columns {
    display: flex;
    flex-direction: column;
    max-width: var(--main-column-max-width);
    align-self: stretch;
    gap: var(--gap-m);
    width: 100%;
    margin: 0 auto; /* Centra orizzontalmente */
    &.is-layout-flex {
        &.wp-block-columns-is-layout-flex {
                flex-direction: row;
                gap: var(--gap-xl);
                padding: var(--padding-xl) var(--padding-m);
        }
    }

    .wp-block-columns{
        padding: 0px !important;
    }

}




    .wp-block-columns{
        &.has-background{
            margin: 0 auto; /* Centra orizzontalmente */
            width: 100vw;
            max-width: 100vw;
            padding-left: var(--padding-m) !important;
            padding-right: var(--padding-m) !important;
            div{
                max-width: var(--main-column-max-width);

                .wp-block-embed{
                    padding: var(--padding-xl);
                }
            }

        }
    }
