.cover-post {

    &.consumable{
        background: var(--surface-background-grayscale-low);
    }
    .main-column {
        gap: var(--gap-m);

        .info-container {
            display: inline-flex;
            flex-direction: column;
            align-items: flex-start;
            align-self: stretch;


            .tag-category-post {
                display: flex;
                align-items: flex-start;
                gap: var(--gap-s);
            }

            .button-container {
                display: flex;
                gap: var(--gap-s);
                padding: var(--padding-m) 0;
            }

        }
    }
}

.children-post {
    background: var(--surface-contrast-container-grayscale-low);

    .main-column {

        .types-container {
            display: flex;
            align-items: flex-start;
            gap: var(--gap-m);
            align-self: stretch;

            .type-container {
                display: flex;
                padding: var(--padding-xs);
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                gap: var(--margin-xs);
                flex: 1 0 0;
                align-self: stretch;

                border-left: var(--border-stroke-m) solid var(--border-stroke-color-standard);

                .type-title {
                    padding: 0px;
                }

                .type-size {
                    padding: 0px;
                }
            }
        }
    }
}



.features-post {

    background: var(--surface-background-primary-low);

    &.post-printing {
        background: var(--surface-background-tertiary-low);
    }

    &.pre-printing {
        background: var(--surface-background-grayscale-low);
    }
    
    &.consumable {
        background: var(--surface-background-grayscale-standard);
    }



    .main-column {

        .left-container,
        .right-container {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: var(--gap-s);
            align-self: stretch;

            .title-section {
                color: var(--text-on-grayscale-opacity-high);
            }
        }
    }
}


.main-features-container {
    &.pre-printing {
        .wp-block-columns {
            border-bottom: var(--border-stroke-s, 1px) solid var(--border-stroke_color-opacity-hightest, rgba(17, 17, 17, 0.35));
        }
    }
}


.video-post {
    background: var(--surface-primary-standard);
    .main-column {
        color: var(--text-on-primary-standard);

    }

    &.post-printing {
        background: var(--surface-tertiary-standard);
        .main-column {
            color: var(--text-on-tertiary-standard);
    
        }
    }
    
    &.pre-printing {
        background: var(--surface-quaternary-standard);
        .main-column {
            color: var(--text-on-quaternary-standard);
    
        }
    }
    

}