.header-archive {
    background: var(--surface-background-primary-low);

    &.finiture {
        // Questo si applica quando l'elemento ha sia la classe .header-archive che .post-stampa
        background: var(--surface-background-tertiary-low);
    }

    .main-column {
        // Questo si applica ai discendenti .main-column di .header-archive
        gap: var(--gap-m);
        align-self: stretch;
    }
}