form.taxonomy_selector {
    border: none;

    .select-container {
        display: inline-flex;
        align-items: center;
        gap: var(--gap-none);
        border-radius: var(--border-radius-l);

        span {
            font-size: var(--icon-size-xl) !important;
            font-variation-settings: 'OPSZ' var(--icon-size-xl);
        }

        select {
            appearance: none; // Rimuove la freccia predefinita del browser
            -moz-appearance: none;
            -webkit-appearance: none;
            padding: var(--padding-s) var(--padding-s);
            border: none;
            border-radius: none;
            background: none;
            color: var(--text-on-primary-container);
            @extend .title-big;
            position: relative;
            z-index: 0;

            &::-ms-expand {
                display: none;
            }

            &:focus {
                outline: none;
            }
        }

        &:hover {
            background: var(--surface-opacity-standard-dim);
        }

    }



    input[type="submit"] {
        @extend .button;


    }
}